.root {
    position: relative;
    width: 100%;
    opacity: 1;
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.editorControls {
    display: flex;
    justify-content: end;
    height: 36px;
    margin-bottom: 36px;
}

.starEditor {
    display: flex;
}

.starEditor .starSearch {
}

.starSearch .searchControls {
    
}

.starSearch .starList {

}

.starList .starEntry {
    display: flex;
    margin-bottom: 4px;
    cursor: pointer;
}


.starList .starEntry .starLabel {
    display: flex;
}

.starList .starEntry .starLabel .starId {
    font-family: monospace;
    margin-right: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.starList .starEntry .starLabel .starSelected {
    background-color: white;
    color: black;
}

.starList .starEntry .starLabel .starName {
    display: flex;
    align-items: center;
}

.starList .starEntry .deleteStar {
    display: flex;
}

.starEditor .editStar {
    margin-bottom: 48px;
    margin-left: 24px;
}

.editStar .editStarHeader {
    display: flex;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 12px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.editStar .editStarHeader .editStarHeaderTitle {
    font-size: 20px;
}

.editStar .starInputsContainer {
}

.editStar .starInputsContainer .starInputsRow {
    display: flex;
    margin-bottom: 8px;
}

.editStar .starInputsContainer .starInputsRow .starInput {
    margin-right: 4px;
    margin-left: 4px;
}

.editStar .starSubmitContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}